/* when adding styles please place within a grouping with a header ie all form styles to be kept under /* Form */

/* Form */

.request-form {
  width: 344px;
  margin: 2rem;
}

.form-border {
  border-color: #004ea8;
  border-width: 2px;
  border-radius: 5px;
}

.form-title {
  color: grey;
  font-size: 2rem;
  font-family: raleway;
  padding-bottom: 2rem;
}

.calculate-button {
  color: #004ea8;
  background-color: #d9ff00;
  font-weight: bold;
  width: 305px;
  height: 60px;
  border: none;
}

.calculate-button:hover {
  color: #004ea8;
  background-color: #d9ff00;
  font-weight: bold;
  width: 305px;
  height: 60px;
  border: none;
  filter: brightness(105%)
}

.book-button {
  color: white;
  background-color: #cf02bc;
  width: 305px;
  height: 60px;
  font-weight: bold;
  border: none;
}

.book-button:hover {
  color: white;
  background-color: #cf02bc;
  width: 305px;
  height: 60px;
  font-weight: bold;
  border: none;
  filter: brightness(110%)
}

.button-group {
  justify-content: center;
  text-align: center;
}

.form-text {
  color: #004ea8;
  font-size: 1.5rem;
}

.no-border {
  border: 0 0 0 5px;
}

.button-image {
  height: 4rem;
  width: 7rem;
}

body{
  background-color: #004ea8;
  font-family: raleway
}

/* Footer style */

.img-footer {
    width: 100px;
    height: auto;
}

.img-footer:hover {
    opacity: 0.7;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.navbar a:hover {
    opacity: 0.7;
  }

/* Footer Style End */
