/* when adding styles please place within a grouping with a header ie all form styles to be kept under /* Form */

/* NavBar */

.navbar{
    background-color:#D9FF00  ;
    height: 77px;
    font-family: Raleway;
    width:100%
}
.logo-nav {
  width: auto;
  height: 110px;
  margin-top: 2rem;
}

.logo-title{
    font-weight: bolder;
    font-size: 1.8rem;
    color:#004ea8;
}

.nav-links {
    font-size: 1.5rem;
    color:#004ea8;
    padding-left: 140px;
    font-weight: bolder;
}

/* Form */

.request-form {
  /* max-width: 344px; */
  margin: 2rem;
}

.width {
  max-width: 355px;
}

.form-border {
  border-color: #004ea8;
  border-width: 2px;
  border-radius: 5px;
}

.form-title {
  color: grey;
  font-size: 2rem;
  font-family: raleway;
  padding-bottom: 2rem;
}

.calculate-button {
  color: #004ea8;
  background-color: #d9ff00;
  font-weight: bold;
  width: 305px;
  height: 60px;
  border: none;
}

.calculate-button:hover {
  color: #004ea8;
  background-color: #d9ff00;
  font-weight: bold;
  width: 305px;
  height: 60px;
  border: none;
  filter: brightness(105%);
}

.book-button {
  color: white;
  background-color: #cf02bc;
  width: 305px;
  height: 60px;
  font-weight: bold;
  border: none;
}

.book-button:hover {
  color: white;
  background-color: #cf02bc;
  width: 305px;
  height: 60px;
  font-weight: bold;
  border: none;
  filter: brightness(110%);
}

.button-group {
  justify-content: center;
  text-align: center;
}

.form-text {
  color: #004ea8;
  font-size: 1.5rem;
}

.no-border {
  border: 0 0 0 5px;
}

.button-image {
  height: 4rem;
  width: 7rem;
}

body {
  background-color: #004ea8;
  font-family: raleway;
}
